/.vs
/VexHeaders
/bin
/build
/x64
/VexRobotics
/.vscode/*
compile_commands.json
/VexRobotics.slnx
/*.sln
/*.filters
/VexRobotics.vcxproj
/VexRobotics.vcxproj.user
/.vscode/c_cpp_properties.json
/VexRobotics.slnLaunch.user
/VexRobotics.vcxproj.bak
/Testing/DataTypesTest/main.o
/Testing/DataTypesTest/nul
/Testing/DataTypesTest/test_datatypes.exe
/.vscode/vex_project_settings.json
